
body {
    margin: auto;
}
.container {
    padding: 10px;
}
.titulo {
    margin-top: 10px;
    text-align: center;
}
.titulo p {
    font-size: 15px;
}
.card-title {
    text-align: center;
}
.card-text{
    text-align: center;
}
.btn btn-primary {
    align-items: center;
    text-align: center;
}